@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Boldonse'; 
    
}

body{
    background-color: yellow; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100vh;
}

#linear{
    width: 100vw;
    height: 200px;
    background-color: yellow;
    background: linear-gradient(to bottom, yellow 0%, #000000 100%);    
}

#tracklist{
    height: 500px;
    background: linear-gradient(to bottom, yellow 0%, #000000 100%);    
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
}

#footer{
    height: 200px;
    background: black;
}

#header1{
    font-size: 3vw;
    margin: 0px;
    padding: 0;
}

#header2{
    font-size: 10vw;
    margin: 0px;
    padding: 0;
}

.video-container {
    width: 100%; /* Video sa natiahne na celú dostupnú šírku */
    max-width: 600px; /* Môžeš nastaviť maximálnu šírku */
    aspect-ratio: 16 / 9; /* Udrží pomer strán 16:9 */
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

